.card {
  position: relative;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-radius: 0.625em;
  padding: 2.5em 1.5em;
  box-shadow: 1.875em 3.125em 5em rgba(0, 0, 0, 0.100202);
  background-color: var(--clr-neutral-400);
}

.card h2 {
  font-size: 0.6875rem;
  color: var(--clr-primary-400);
  font-weight: var(--fw-primary);
  text-transform: uppercase;
  letter-spacing: 0.21625rem;
}

.card p {
  font-size: 1.5rem;
  color: var(--clr-primary-100);
  line-height: 2.048rem;
}

.divider-img {
  width: 100%;
  margin: 0.5em 0 3.5em 0;
}

.random-btn {
  position: absolute;
  left: 41.5%;
  bottom: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: var(--clr-primary-400);
}

.random-btn:hover {
  box-shadow: 0 0 2.5em var(--clr-primary-400);
}

/* Desktop View*/
@media screen and (min-width: 62em) {
  .card h1 {
    font-size: 0.8125rem;
  }

  .card p {
    font-size: 1.75rem;
  }

  .divider-img {
    height: 1rem;
  }

  .random-btn {
    left: 43.9%;
  }
}
@media screen and (min-width: 90em) {
  .card {
    max-width: 33.75em;
  }

  .random-btn {
    left: 44%;
  }
}
