.card {
  position: relative;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  max-width: 37.5em;
  border-radius: 0.625em;
  padding: 2.5em 1.5em;
  box-shadow: 1.875em 3.125em 5em rgba(0, 0, 0, 0.100202);
  background-color: var(--clr-neutral-400);
}

.card h2 {
  font-size: 0.6875rem;
  color: var(--clr-primary-400);
  font-weight: var(--fw-primary);
  text-transform: uppercase;
  letter-spacing: 0.21625rem;
}

.card p {
  font-size: 1.5rem;
  color: var(--clr-primary-100);
  line-height: 2.048rem;
}

.divider-img {
  width: 100%;
  margin: 0.5em 0 1.5em 0;
}

.random-btn {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: var(--clr-primary-400);
  cursor: pointer;
}

.random-btn:hover {
  box-shadow: 0 0 2.5em var(--clr-primary-400);
}

/* Desktop View*/
@media screen and (min-width: 48em) {
  .card {
    padding: 2.5em 3em;
  }

  .card h1 {
    font-size: 0.8125rem;
  }

  .card p {
    font-size: 1.75rem;
  }

  .divider-img {
    height: 1rem;
  }
}
